@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        color: black;
        background-color: white;
        background-image: url(/img/background.jpg);
        background-repeat: no-repeat;
        background-size: 100vw 100vh
    }
</style>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>to the best web application ever!</p>
</div>
