@model IEnumerable<AskApp.Common.TOs.QuestionTO>
@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @foreach (var item in Model)
    {
        @Html.DisplayFor(modelItem => item.Title)
    }
</div>
